version: 2.1

jobs:
  build-and-log:
    docker:
      - image: cimg/base:stable

    environment:
      LOG_GROUP: "/circleci/devops-agent-dockerhub-demo"
      LOG_STREAM: "circleci-${CIRCLE_BUILD_NUM}"

    steps:
      - checkout

      - run:
          name: Install AWS CLI
          command: |
            sudo apt-get update -y
            sudo apt-get install -y awscli

      - run:
          name: Configure AWS Credentials
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set default.region $AWS_REGION

      - run:
          name: Push Test Log To CloudWatch
          command: |
            aws logs create-log-group \
              --log-group-name "$LOG_GROUP" || true

            aws logs create-log-stream \
              --log-group-name "$LOG_GROUP" \
              --log-stream-name "$LOG_STREAM" || true

            TIMESTAMP=$(($(date +%s%N)/1000000))

            aws logs put-log-events \
              --log-group-name "$LOG_GROUP" \
              --log-stream-name "$LOG_STREAM" \
              --log-events timestamp=$TIMESTAMP,message="CircleCI build ${CIRCLE_BUILD_URL} executed successfully"

      - run:
          name: Docker Login (just to test creds)
          command: |
            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

workflows:
  simple-workflow:
    jobs:
      - build-and-log
